.signup-container {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 20px;
    border: solid 1px #fdd082;

    background: rgba(0, 0, 0, 0.5);
    width: 400px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;

    

}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
}

.signup-wrapper {
    width: 70%;
}

.signup-input {
    width: 100%;
    border-radius: 8px;
}

.btn-content {
    color: aliceblue;
    
}

.signup-errors {
    background: rgb(189, 76, 76);
    border-radius: 10px;
    margin: 2px;
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
}

.signup-errors span {
    color: aliceblue;
    font-size: 10px;
    font-family: 'namu';
    
}

.sign-up-legal {
    max-width: 60%;
    text-align: center;
    font-size: 12px;
    padding-top: 15px;
    font-family: 'namu';
    color: #fdd082;
    
}

.sign-up-legal a {
    text-decoration: none;
    color: #c59e5b;
}


.signup-return-back-icon {
    width: 120px;
    height: 120px;
    background: url('/components/images/blackhole.png') no-repeat;
    background-size: contain;
}

.btn-content {
    font-family: 'namu';
    color: #fdd082;
    padding: 5px;
}

.btn-wrapper {
    position: relative;
    margin-top: 10px;
}

.btn-content::before, .signup-btn a::before {
    
    position: absolute;
    content: '';
    z-index: -1;
    width: 0;
    height: 100%;
    top: 0;
    left: 50%;
    border: 2px solid transparent;
    transition: 0.3s all ease-in-out;

    border-top-color: #fdd082;
    border-bottom-color: #fdd082;
}

.btn-content::after, .signup-btn a::after {
    position: absolute;
    content: '';
    z-index: -1;
    width: 100%;
    height: 0;
    top: 50%;
    left: 0;
    border: 2px solid transparent;
    transition: 0.3s all ease-in-out;

    border-left-color: #fdd082;
    border-right-color: #fdd082;
}

.btn-content:hover::before, .signup-btn a:hover::before {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

}

.btn-content:hover::after, .signup-btn a:hover::after {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}